openapi: 3.1.0
info:
  title: Saasment Alerts Misconfigurations API
  description: Saasment API provides programmatic access to AI-powered SaaS security posture management (SSPM) and cloud cost optimization capabilities. The API enables automated security configuration scanning, compliance assessment, misconfiguration detection, breach and attack simulation, privileged access management, and cost optimization recommendations across your SaaS and cloud application estate.
  version: 1.0.0
  contact:
    name: Saasment Support
    url: https://www.saasment.com
servers:
- url: https://api.saasment.com/v1
  description: Saasment API v1
security:
- BearerAuth: []
tags:
- name: Misconfigurations
  description: Misconfiguration detection and remediation
paths:
  /misconfigurations:
    get:
      operationId: listMisconfigurations
      summary: List Misconfigurations
      description: Returns detected security misconfigurations across monitored SaaS applications, with severity, category, and remediation guidance.
      tags:
      - Misconfigurations
      parameters:
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          - info
      - name: app_id
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - in_progress
          - resolved
          - accepted
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Misconfiguration list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MisconfigurationList'
  /misconfigurations/{id}:
    get:
      operationId: getMisconfiguration
      summary: Get Misconfiguration
      description: Returns details of a specific misconfiguration including remediation steps.
      tags:
      - Misconfigurations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Misconfiguration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Misconfiguration'
    patch:
      operationId: updateMisconfigurationStatus
      summary: Update Misconfiguration Status
      description: Updates the status of a misconfiguration (e.g., mark as resolved or accepted).
      tags:
      - Misconfigurations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMisconfigurationRequest'
      responses:
        '200':
          description: Misconfiguration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Misconfiguration'
components:
  schemas:
    UpdateMisconfigurationRequest:
      type: object
      properties:
        status:
          type: string
          enum:
          - in_progress
          - resolved
          - accepted
        notes:
          type: string
    MisconfigurationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Misconfiguration'
        total:
          type: integer
        page:
          type: integer
    Misconfiguration:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          - info
        category:
          type: string
        app_id:
          type: string
        app_name:
          type: string
        status:
          type: string
          enum:
          - open
          - in_progress
          - resolved
          - accepted
        remediation:
          type: string
        detected_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token from Saasment platform settings
