openapi: 3.1.0
info:
  title: Saasment Alerts API
  description: Saasment API provides programmatic access to AI-powered SaaS security posture management (SSPM) and cloud cost optimization capabilities. The API enables automated security configuration scanning, compliance assessment, misconfiguration detection, breach and attack simulation, privileged access management, and cost optimization recommendations across your SaaS and cloud application estate.
  version: 1.0.0
  contact:
    name: Saasment Support
    url: https://www.saasment.com
servers:
- url: https://api.saasment.com/v1
  description: Saasment API v1
security:
- BearerAuth: []
tags:
- name: Alerts
  description: Security alert and notification management
paths:
  /alerts:
    get:
      operationId: listAlerts
      summary: List Security Alerts
      description: Returns security alerts generated by Saasment posture monitoring.
      tags:
      - Alerts
      parameters:
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - acknowledged
          - resolved
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Alert list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
components:
  schemas:
    Alert:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        app_id:
          type: string
        app_name:
          type: string
        status:
          type: string
          enum:
          - open
          - acknowledged
          - resolved
        created_at:
          type: string
          format: date-time
    AlertList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        total:
          type: integer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token from Saasment platform settings
